- var productCategory
case instance.category
  when "bílé"
    - productCategory = "white"
  when "červené"
    - productCategory = "red"
  when "růžové"
    - productCategory = "rose"
  default
    - productCategory = "default"

article.o-product(class="o-product--#{productCategory}")
  figure.o-photo
    .o-photo__content
      if (index % 2 == 0)
        img(src="assets/images/thumbnail3.jpg", alt="Thumbnail")
      else
        img(src="assets/images/thumbnail1.jpg", alt="Thumbnail")
  .o-product__category!= instance.year
  .o-product__name
    h3.t-h3= instance.name
    em.o-product__type= instance.type
  p.o-product__description
    = instance.description
    if (index % 2 == 0)
      |  
      a(href="detail-produktu.html", data-pjax--aside) Poznejte víno blíže.
  ul.o-product__extra.o-middot.o-middot--inline
    each productExtra in instance.extra
      li= productExtra
  ul.o-product__info.o-middot.o-middot--inline
    each productInfo in instance.info
      li.t-spaced= productInfo
  a(href="#").o-button.o-button--white.ss-plus.right Vložit do košíku
  .o-product__price
    strong.t-spaced= instance.price
    
//- .o-product__name
//-   if (instance.category === "bílé")
//-     .o-product__category.o-product__category--white
//-       = instance.year
//-   else
//-     .o-product__category.o-product__category--red
//-       = instance.year
//-   em.o-product__type= instance.type
//- p.o-product__description
//-   = instance.description
//-   |  
//-   a(href="#") Poznejte víno blíže (video).
//- ul.item-stats
//-   li Bezcukerný extrakt 22,8&thinsp;g/l
//-   li Redukující cukry 6,6&thinsp;g/l
//-   li Obsah kyselin 6,4&thinsp;g/l
//- a.o-button(href="#") Do košíku