extends templates/_basic

block template-variables
  - var pageSettings = {title: "Detail produktu", index: null, paperCanvas: false, theme: "light"}
  - var instance = shopItems[1]

block template-body
  section.m-detail
    .l-wrapper.l-wrapper--lower.l-section--white
      .m-detail__overview.o-media
        .m-detail__thumbnail.o-media__image
          figure.o-photo.o-photo--big
            a.o-photo__link.o-photo__content(href="assets/images/detail_big1.jpg", data-lightbox)
              .o-photo__overlay
                span.ss-zoomin.o-icon--big
              img(src="assets/images/detail_circle1.jpg", alt="Detail produktu")
          .m-detail__category(class="o-badge--#{instance.category}")!= instance.year
        .m-detail__content.o-media__content
          h1.m-detail__name.t-h1= instance.name
          em.m-detail__type= instance.type
          .o-title.o-title--float.o-title--small.o-title--light
            .svg-icon--grapes
              svg.svg__content(data-fallback="assets/images/fallbacks/icon_grapes.png")
                use(xlink:href="#icon_grapes")
            strong.t-smallcaps Popis vína
          ul.m-detail__info.o-middot.o-middot--inline
            each productInfo in instance.info
              li= productInfo
    .l-wrapper.l-offset
      .o-title.o-title--absolute.o-title--small.o-title--light
        .svg-icon--bottle
          svg.svg__content(data-fallback="assets/images/fallbacks/icon_bottle.png")
            use(xlink:href="#icon_bottle")
        strong.t-smallcaps Podrobnosti
      ul.o-triplet
        each productExtra, index in instance.extra
          - var tripletClass
          case index
            when 0
              - tripletClass = "primary"
            when 1
              - tripletClass = "secondary"
            default
              - tripletClass = "tertiary"
          li.o-triplet__item
            .o-circle(class="o-circle--#{tripletClass}")
              .o-circle__content
                = productExtra.value
                span.o-circle__note g/l
            strong.o-triplet__title(class="o-triplet__title--#{tripletClass}")
              if (index == 0)
                | Redukující cukry
              else if (index == 1)
                | Bezcukerný extrakt
              else
                | Celkový obsah kyselin
      .l-inline
        .l-inline__row
          .l-inline__cell
            span.o-price--big
              span.o-label Cena
              strong= instance.price
              |  Kč
          .l-inline__cell
            .m-detail__checkout
              .m-detail__quantity
                .o-holder--number
                  label.o-label Počet
                  input.o-input.o-input--number(type="number", name="quantity", min="1", value="1")
                  span.o-holder__icon.ss-write
              .m-detail__button
                input.o-submit(type="submit", value="Vložit do košíku")
  footer.o-action
    .l-wrapper
      a.o-button--simple.ss-navigateleft(href="nabidka.html", data-pjax--whole) Zpět do nabídky