extends templates/_basic

block template-variables
  - var pageSettings = {title: "Nákupní košík", index: null, paperCanvas: false, theme: "light"}

block template-body

  section.l-section--white
    .l-wrapper.l-wrapper--lower
      h2.t-h2 Nákupní košík
      .m-order
        .m-order__table
          each instance, index in shopItems
            article.m-order__item
              .m-order__cell.m-order__photo
                .o-photo.o-photo--small
                  .o-photo__content
                    img(src="http://lorempixel.com/128/128/nature/#{index}", alt="lorempixel")
                .m-order__category(class="o-badge--#{instance.category}")!= instance.year
              .m-order__cell.m-order__content
                .l-inline
                  .l-inline__row
                    .l-inline__cell.m-order__name
                      a.o-wine(href="detail-produktu.html", data-pjax--whole).m-order__link
                        strong.o-wine__name= instance.name
                        em.o-wine__type= instance.type
                    .l-inline__cell.m-order__options
                      label.o-label Počet
                      span.o-holder
                        input.o-input.o-input--number(type="number", name="quantity", min="1", value="1")
                        span.o-holder__icon.ss-write
                      span.m-order__price.o-price
                        span.o-label Cena
                        strong= instance.price
                        |  Kč
                      a.o-button--simple.ss-delete.t-link--secondary(href="#") Odebrat
        .m-order__summary
          .m-order__total.o-price--big
            span.o-label Celkem
            strong 2265
            |  Kč

  section.m-form
    .l-wrapper.l-wrapper--big
      h2.t-h2 Objednávkový formulář
      form
        table.m-form__table
          tr.m-form__row
            td.m-form__cell(colspan="2")
              input.o-input(type="text", placeholder="Vaše jméno")
            td.m-form__cell
              input.o-input(type="text", placeholder="Příjmení")
          tr.m-form__row
            td.m-form__cell(colspan="2")
              input.o-input(type="text", placeholder="Telefon")
            td.m-form__cell
              input.o-input(type="text", placeholder="E-mail")
          tr.m-form__row
            td.m-form__cell
              input.o-input(type="text", placeholder="Ulice")
            td.m-form__cell
              input.o-input(type="text", placeholder="Město")
            td.m-form__cell
              input.o-input(type="text", placeholder="PSČ")
          tr.m-form__row.m-form__options
            td.m-form__cell
              label.o-label Stát
              .o-select
                select
                  option Česká republika
                  option Slovensko
                span.ss-navigatedown
            td.m-form__cell
              label.o-label Způsob platby
              .o-select
                select
                  option Kartou
                  option Bankovním převodem
                  option Dobírkou
                span.ss-navigatedown
            td.m-form__cell
              label.o-label Doprava
              .o-select
                select
                  option Česká pošta
                  option PPL
                  option DHL
                span.ss-navigatedown
          tr.m-form__row
            td.m-form__cell(colspan="3")
              textarea.o-textarea(placeholder="Vaše poznámky")
          tr.m-form__row
            td.m-form__cell(colspan="2")
              p S upřesněním objednávky Vás budeme obratem kontaktovat.
            td.m-form__cell
              input.o-submit(type="submit", value="Odeslat")